<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Menu Wrap</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" type="image/png" href="~/Content/images/favicon.ico" />
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <img class="navbar-brand" src="~/Content/images/viewlogo.png" alt="MENU WRAP" style="width:100px;height:70px;" />
            </div>
            <div class="text-right">
                <form id="SearchFoodCat">
                    <ul class="nav navbar-nav navbar-brand pull-right">
                        <li>
                            <input id="cities" class="form-control-custom" type="text" value="" name="city" placeholder="Enter your city" required />
                        </li>
                        <li>
                            <input id="location" class="form-control-custom" type="text" value="" name="location_Id" placeholder="Enter your Location" required />
                        </li>
                        <li>
                            @{
                                SelectList temp = ViewBag.categories; //Value should not be null
                            }
                            @Html.DropDownList("category_Id", temp, "- Select -", new { id = "foodCategory", @class = "form-control-custom" })
                        </li>
                        <li class="divider"></li>
                        <li> &nbsp; <input type="button" value="GO" class="btn btn-warning form-control-custom" id="SearchSubmit" /></li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>

    <div class="main-div">
        <div class="margin-top"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 render-body">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="margin-bottom"></div>
    </div>

    <nav class="navbar navbar-fixed-bottom navbar-custom footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-xs-6"><h5> Copyright &copy; menuwrap 2015</h5></div>
                <div class="col-xs-6 text-right"><h5>Developed by GGN 7718855080</h5></div>
            </div>
        </div>
    </nav>

    <input type="hidden" id="locationURL" value="@Url.Action("SearchLocation", "Home")" />
    <input type="hidden" id="foodCategoryURL" value="@Url.Action("foodCategory", "Home")" />
</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">
    var clicked = false;
    var changed = false;
    $("#cities").hover(function () {
        if (!clicked) {
            $("#cities").tokenInput("@Url.Action("SearchCity","Home")",
        {
            tokenLimit: 1,
            minChars: 2,
            searchDelay: 200,
            hintText: "Enter city",
        });
            clicked = true;
        }
    });



    $("#location").hover(function () {
        var city = $('#cities').val();
        if (!changed && city) {
            var locationURL = $('#locationURL').val() + "?cityID=" + city;
            $("#location").tokenInput(locationURL,
            {
                tokenLimit: 1,
                minChars: 2,
                searchDelay: 200,
                hintText: "Enter Location",
                queryParam: "areaID",
            });
            changed = true;
        }
    });

    $('#SearchSubmit').click(function (e) {
        e.preventDefault();
        $.ajax({
            url: "@Url.Action("SearchFood","Home")",
            data: $('#SearchFoodCat').serialize(),
            type: "POST"
        }).success(function (data) {
            $('#SearchResult').html(data);
        }).error();
    });

</script>