@model IEnumerable<DataAccessLayer.Restaurant>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resturant_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rest_Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rest_addr)
            </th>
            <th width="13%">Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Resturant_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rest_Desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rest_addr)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Resturant_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Resturant_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Resturant_Id }) 
                </td>
            </tr>
        }

    </table>
</div>