<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Menu Wrap</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" type="image/png" href="~/Content/images/favicon.ico" />
</head>
<body>
    <nav class="navbar navbar-static-top navbar-custom" style="margin-bottom:0px;">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index","Home")"> <img class="navbar-brand" src="~/Content/images/viewlogo.png" alt="MENU WRAP" style="width:100px;height:70px;" /> </a>
            </div>
            <div class="text-right">
                <form id="SearchFoodCat" action="@Url.Action("SearchFood","Home")" method="post">
                    <ul class="nav navbar-nav navbar-brand pull-right">
                        <li>
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-map-marker"></i>
                                @{
                                    SelectList temp = ViewBag.cities; //Value should not be null
                                }
                                @Html.DropDownList("city_ID", temp, "Select City", new { id = "citiesDdl", @class = "form-control-custom menu-input", required = "" })

                            </div>
                        </li>
                        <li>
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-map-marker"></i>
                                @* <input id="location" class="form-control-custom menu-input" type="text" value="" name="location_Id" placeholder="Enter your Location" required />*@
                                <select disabled="disabled" name="location_Id" class="form-control-custom menu-input" id="locationDdl" required>
                                    <option value="">Select Location</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-cutlery"></i>
                                @{
                                    temp = ViewBag.categories; //Value should not be null
                                }
                                @Html.DropDownList("category_Id", temp, "Select Category", new { id = "foodCategory", @class = "form-control-custom menu-input", required = "" })

                            </div>
                        </li>
                        <li class="divider"></li>
                        <li> &nbsp; <input type="submit" value="GO" class="btn btn-warning form-control-custom" id="SearchSubmit" /></li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
    <div class="main-div">
        @RenderBody()
    </div>
    <footer class="no-margin">
        <div class="container">
            <div class="gaprow"></div>
            <div class="row">
                <div class="col-md-4 fotter-left">
                    <h3>Menu Wrap</h3>
                    <p>
                        asdadsas asd asd das asd asd adfsdf adsg adsg adsg asdgasdg sdg asdg asgd
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>Latest News</h3>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#"><span></span>Sed ut perspiciatis unde omnis iste natus.</a></li>
                            <li><a href="#"><span></span>Voluptatem accusantium.</a></li>
                            <li><a href="#"><span></span>Totam rem aperiam,eaque ipsa quae.</a></li>
                            <li><a href="#"><span></span>Inventore veritatis et quae.</a></li>
                            <li><a href="#"><span></span>Nemo enim ipsum voluptatem quia voluptas.</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <h3>Newsletter</h3>
                    <form>
                        <input id="emailid" type="text" class="text" placeholder="Enter your Email">
                        <input type="submit" onclick="if ($.trim($('#emailid').val())!=''){ alert('Sending mail to ' + $('#emailid').val()); }" value="Send">
                        <div class="clearfix"></div>
                    </form>
                    <div class="social-icons">
                        <a href="#"><span class="icon-facebook"> </span></a>
                        <a href="#"><span class="icon-twitter"> </span></a>
                        <a href="#"><span class=" icon-google-plus"> </span></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="gaprow"></div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="pull-right"><a href="#">Back to top</a></p>
                    <p>copyright &copy; 2015 - 2016 Menu wrap, Inc.
                </div>
            </div>
        </div>
    </footer>
    <input type="hidden" id="locationURL" value="@Url.Action("SearchLocation", "Home")" />
    <input type="hidden" id="foodCategoryURL" value="@Url.Action("foodCategory", "Home")" />
    <div id="loading-gif" class="text-center">
        <img src="~/Content/images/ajaxloading.gif" />
        <br />
        Loading...
    </div>
</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">
    $('#loading-gif').hide();
    $(document).bind("ajaxStart", function () {
        $('#loading-gif').show();
    }).bind("ajaxStop", function () {
        $('#loading-gif').hide();
    });
    $('#citiesDdl').change(function () {
        var selectedCity = $.trim($(this).val());
        $('#SearchResult').html("");
        if (selectedCity != "") {
            $('#locationDdl').html("<option value=''>Select Location</option>")
            $.ajax({
                url: $('#locationURL').val(),
                data: { cityId: selectedCity },
                type: "POST"
            }).success(function (data) {
                if (data) {
                    $.each(JSON.parse(data), function (i, item) {
                        $('#locationDdl').append("<option value='" + item.id + "'>" + item.name + "</option>")
                        $('#locationDdl').removeAttr('disabled');
                    });
                }
            }).error(function () {
                alert("Some Error Occured");
            });
        } else {
            $('#locationDdl').val('').attr('disabled', 'disabled');
        }
    });

    $('#SearchFoodCat').submit(function (e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            data: $(this).serialize(),
            type: "POST",
        }).success(function (data) {
            $('#searh-result-div').html(data);
        }).error(function () {
            alert("Some Error Occured");
        });
    });
</script>
@RenderSection("scripts", required: false)
<style>
    #loading-gif {
        height: 160px;
        width: 160px;
        border-radius: 80px;
        margin: 0 auto;
        display: table;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -o-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
        color: red;
        font-size: 20px;
        padding-top: 20px;
        -webkit-box-shadow: 1px 2px 5px 5px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 1px 2px 5px 5px rgba(50, 50, 50, 0.75);
        box-shadow: 1px 2px 5px 5px rgba(50, 50, 50, 0.75);
    }

        #loading-gif img {
            width: 85px;
        }
</style>