@model List<DataAccessLayer.SearchResult>

<div class="row no-margin">
    <div class="col-xs-2 filter-height" style="background-color:black;">
        <aside class="filter">
            <div class="gap-row"></div>
            <h4>Select Filters</h4>
            <hr />
            <div class="filter-content">
                <div class="subtitle">Type</div>
                <ul>
                    <li>
                        <input type="checkbox" id="veg" name="veg">
                        <label for="veg">Veg</label>
                    </li>
                    <li>
                        <input type="checkbox" id="non-veg" name="non-veg">
                        <label for="veg">Non-Veg</label>
                    </li>
                </ul>
                <div class="subtitle">Cost</div>
                <input type="range" min="100" max="1000" />
                <div class="subtitle">Restraunt</div>
                @foreach (var restraunt in Model.Select(x => new { RestaurantName = x.RestaurantName, RestaurantId = x.RestaurantId }).Distinct())
                {
                    <input type="checkbox" value="@restraunt.RestaurantId" /> @restraunt.RestaurantName <br />
                }
            </div>
        </aside>
    </div>

    <div class="col-xs-9 search-result-list-div">
        <div class="margin-top">&nbsp;</div>
        @foreach (var result in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading hand-cursor" data-url="@Url.Action("Index", "RestuarntInfo")" data-restid="@result.RestaurantId" data-catid="@result.CategoryId" onclick="GetMenu(this)"><span class="menu-heading">@result.RestaurantName</span></div>
                <div class="gap-row"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <img src="~/Content/images/images.png" style="border:1px solid black" />
                        </div>

                        <div class="col-xs-8">
                            <h4><b> @result.FoodName </b></h4>
                            <b>COST:</b> <i>@result.Price</i>
                        </div>
                    </div>
                </div>
                <div class="gap-row"></div>
            </div>
        }
    </div>

</div>
<script>
    $(document).ready(function () {
        $('.filter-height').css('height', $('.search-result-list-div').css('height'));
    });
    function GetMenu(obj) {
        $.ajax({
            url: $(obj).attr('data-url'),
            data: { restID: $(obj).attr('data-restID'), catId: $(obj).attr('data-catId') },
            type: "POST",
        }).success(function (data) {
            $('#searh-result-div').html(data);
        }).error(function () {
            alert("Some Error Occured");
        });
    }
</script>
